<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <link href="./styles/main.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="info">
        <div class="info_text">
            Последний подписавшийся
        </div>
        <div class="user">
            <div class="user_name">
                Елена<br>
                Золотова
            </div>
            <div class="avatar">
                <img class="avatar" src="https://pp.userapi.com/c847120/v847120024/1ce5c0/0FLb85qGwTU.jpg?ava=1">
            </div>
        </div>
    </div>
</div>
</body>
</html>