<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <link href="./styles/main.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="info">
        <div class="info_text">
            Последний подписавшийся
        </div>
        <div class="user">
            <div class="user_name">
                Алмагуль<br>
                Ешмуканова
            </div>
            <div class="avatar">
                <img class="avatar" src="https://sun9-34.userapi.com/c855616/v855616251/f06c/pZsysUZhv-A.jpg?ava=1">
            </div>
        </div>
    </div>
</div>
</body>
</html>