<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <link href="./styles/main.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="info">
        <div class="info_text">
            Последний подписавшийся
        </div>
        <div class="user">
            <div class="user_name">
                Галина<br>
                Каверина
            </div>
            <div class="avatar">
                <img class="avatar" src="https://pp.userapi.com/c848636/v848636782/58711/Zf5LhDfjuYg.jpg?ava=1">
            </div>
        </div>
    </div>
</div>
</body>
</html>